<div class="container">
  <h1>Thanks for voting!</h1>
  <h2> <%=@ballot.name%> ballot </h2>
  <p>First Base</p>
  <p><%=@ballot.first_base%></p>
  <p>Second Base</p>
  <p><%=@ballot.second_base%></p>
  <p>Third Base</p>
  <p><%=@ballot.third_base%></p>
  <p>Short Stop</p>
  <p><%=@ballot.short_stop%></p>
  <p>Left Field</p>
  <p><%=@ballot.left_field%></p>
  <p>Center Field</p>
  <p><%=@ballot.center_field%></p>
  <p>Right Field</p>
  <p><%=@ballot.right_field%></p>
  <p>Starting Pitcher</p>
  <p><%=@ballot.starting_pitcher%></p>
  <p>Relief Pitcher</p>
  <p><%=@ballot.relief_pitcher%></p>
  <p>Catcher</p>
  <p><%=@ballot.catcher%></p>
  

</div>
